* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

main {
  min-height: 85vh;
}
#footer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: black;
  color: white;
  padding: 20px;
  margin-top: 20px;
  font-size: medium;
}

#header {
}
